appnope==0.1.0
boto==2.38.0
decorator==4.0.4
furl==0.4.8
gevent==1.0.2
gnureadline==6.3.3
greenlet==0.4.9
ipython==4.0.0
ipython-genutils==0.1.0
orderedmultidict==0.7.5
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
wsgiref==0.1.2
